body {
    background-color: hsl(30, 18%, 87%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px;
    font-size: 16px;
    font-family: "Young Serif", sans-serif;
    font-weight: 400px;
}

.cartao {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    height: 2500px;
    /* 1200px */
    border-radius: 25px;
    padding: 30px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.imagem{
    background-color: blueviolet;
    height: 235px;
}

.texto {
    padding: 0px 3px;
}

h1 {
    font-family: "Young Serif";
    font-weight: 400;
    padding-top: 15px;
}

.subtitulo {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    padding-top: 15px;
    padding-bottom: 30px;
}

.lista {
    background-color: hsl(330, 100%, 98%);
    padding: 25px 20px;
    border-radius: 10px;
}

.preparacao {
    color: hsl(332, 51%, 32%);
    font-family: "Outif", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.lista1 {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    padding-left: 8px;
    list-style: none;
    li::before {content: "•"; color: hsl(332, 51%, 32%);
    display: inline-block; width: 30px; height: 27px;
    margin-left: 0}
}

.ingredientes {
    padding-bottom: 70px;
    border-bottom: 0.1mm solid black;
}

.ing-titulo {
    font-family: "Young Serif", sans-serif;
    color: hsl(14, 45%, 36%);
    padding-bottom: 15px;
    font-weight: 400;
}

.lista2 {
    list-style: none;
    li::before {content: "•"; color: hsl(14, 45%, 36%);
    display: inline-block; width: 35px; height: 27px;
    margin-left: 0}
    
}

span {
    font-family: "Outfit", sans-serif;
}
